<header class="shadow-sm relative flex justify-between items-center bg-white duration-500 dark:bg-neutral-900 px-4 md:px-6 py-4">
	<div class="flex items-center gap-2">
		<img src="/image/logo.png" class="h-6 w-6 flex dark:hidden" alt="logo" />
		<img src="/image/logo-dark.png" class="h-6 w-6 hidden dark:flex" alt="logo-dark" />
		<h1 class="font-bold text-xl dark:text-gray-50 text-neutral-900">
			HTM<span class="text-3xl text-[#00b0ea]">X</span>
		</h1>
	</div>
	<div class="flex items-center gap-6">
		<nav class="flex items-center gap-4">
			<a href="/" class="nav-link">
				Home
			</a>
			<a href="/terkini" class="nav-link">
				Terkini
			</a>
			<a href="/terpopuler" class="nav-link">
				Terpopuler
			</a>
			<a href="/viral" class="nav-link">
				Viral
			</a>
			<a href="/pilihan" class="nav-link">
				Pilihan
			</a>
		</nav>
		<div class="flex items-center gap-2">
			<button id="openSearchModal" class="transition hover:scale-105 duration-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
					<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
				</svg>
			</button>
			<%- include('ToggleDark') %>
		</div>
	</div>
	<div class="absolute bottom-0 left-0 h-[1px] w-full bg-gradient-to-r from-[#00b0ea]/20 via-[#00b0ea] to-[#00b0ea]/20"></div>
</header>